html,
body {
    height: 100%;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    font: 14px;
}

#address-label {
    margin-top: 8px;
}

#radius-label {
    margin-top: 8px;
}

#search {
    margin-top: 16px;
}

#search-hint {
    display: none;
    margin-top: 16px;    
}

#map {
    height: 100%;
    width: 100%;
}