html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 12px;
    font: 14px;
}
#address {
    margin-top: 4px;
}

#search {
    margin-top: 12px;
}

#map {
    height: 100%;
    width: 100%;
}
